.rsx-connector {
	position: relative;
	background: #00549a;
}

.rsx-connector > .container {
	position: static;
	margin-bottom: 0;
}

@media (min-width: 1000px)
.rsx-connector-nav {
	width: auto;
	position: static;
	float: left;
	margin-top: 20px;
	background: none;
	transform: none;
	overflow: visible;
}

ul, .rsx-connector ul {
	padding: 0;
	margin: 0;
}

.rsx-connector ul>li {
	list-style-type: none;
}

@media (min-width: 1000px)
.rsx-connector-brand {
	display: inline-block;
	height: 57px;
	margin-right: 28px;
	font-size: 34px;
	padding: inherit;
}

.rsx-connector-brand a {
	color: #fff;
}

@media (min-width: 1000px)
.rsx-connector-brand-home {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}